/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    color:#574941;
    font-family:'chivo', sans-serif;
    min-height: 100vh;


}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bg{
    background-image:url("../img/TCMFBG_image.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.instruments{
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 35%;
    max-height: calc(100% - 243px);
}

.inner{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.date{
    position: absolute;
    right: -50px;
    top: 138px;
    font-size: 24px;
    text-align: right;
    border-top: 3px solid #574941;
    padding-top: 5px;
    line-height: 29px;
}

.date p{
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.date strong{
    display: block;
    font-weight: 900;
}

a{
    color:#574941;
}

a:visited{
    color:#574941;
}

em {
    font-style: normal;
    font-weight: 700;
}

.header{ 
    padding-top: 37px;
}

.header .logo-line-box{
    width: 7px;
    height: 97px;
    float: left;
    margin-right: 10px;
    border-left: 3px solid #574941;
    border-right: 3px solid #574941;
    
    
}

.header h1{
        margin: -4px;
        line-height: 35px;
}

.header h1 img{
    max-width: 100%;
}

.header .header-caption{
    border-top: 3px solid #574941;
    position: absolute;
    right: 220px;
    top:20px;
    text-align: right;
    font-weight: 700;
    font-size: 1.2em;
    
}

.header .header-caption p{
    padding:0px;
    margin-top:5px;
    letter-spacing: 1.5px;
    line-height: 1.3em;

}

.content{
    margin-top: 60px;
    max-width: 670px;
    height: 100%;
    

}

.content p {
    letter-spacing: 1.38px;
    font-size: 1em;

}

.content .caption{
    font-size:22px;
    line-height: 30px;
    letter-spacing: 1.38px;
}

.content .content-form{
    margin-bottom: 20px;
}

.content .content-form h2 + p{
    margin-top: 0;
}

.content .content-form p{
    letter-spacing: 1.25px;
    font-size: 20px;
}

.content h2{
    font-size: 24px;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
    display: inline-block;
}

.content-form h2{
        border-bottom: 3px solid #574941;
}

.content-form label{
    position:absolute;
    left: -2000000px; 

}

.content-form .mc-field-group{
    margin-bottom:20px;
}

.content-form input{
    background: none;
    border: none;
    border-bottom: 1px solid #574941; 
    width: 300px;
    font-weight: 300;

}

.content-form input:focus{
    outline: none;
    
}

#mc_embed_signup{
    margin-top: 40px;
}


.content-form .button{
    color: #A02E2D;
    text-decoration: underline;
    border: none;
    font-weight: 700;
    text-align: left;
    width:auto;
    padding:0;
    margin:0;
    letter-spacing: 1.25px;
    font-size: 20px;
}


.content .artists{
    font-size: 18px;
    letter-spacing: 1.12px;
    margin-bottom: 90px;
    line-height: 25px;
    margin-top: 0;
}

.footer{
    font-size: 0.75em;
    margin-bottom: 0;
    padding-bottom: 20px;
}

@media (max-width:1800px){
    .header .header-caption{
    right: 30px;
        
    }
}
@media (max-width:1024px){
    body{
        padding-left:100px;
        padding-right: 100px;
        position: relative;
    }

    .bg{
        opacity: 0.4;
    }

    .date{
        position: initial;
        display: inline-block;
        text-align: left;
        margin-top: 40px;
    }
     .instruments{
         position: absolute;
         bottom: 0;
     }
    
     .artists{
         max-width: calc(65% + 40px);
     }

    .content{
        margin-top: 40px;
    }

    .content-form input{
     left: 275px;
    

    }
}

@media (max-width:650px){
    body{
        padding-left:50px;
        padding-right:50px;
    }

    .bg{
        opacity: 0.3;
    }

    .content{
        margin-top: 40px;
    }

    .content-form input{
     left: 225px;
    }

    .content h2{
        font-size: 20px;
        line-height: 
    }

    .content .caption, .content .content-form p{
        font-size: 16px;
        line-height: 23px;
    }

    #mc_embed_signup{
        text-align: center;
    }

    .content-form .button{
        position: inherit;
        margin-left: 0 !important;
    }

    .content .artists{
        font-size: 16px;
        line-height: inherit;
    }
    

}

@media (max-width:550px){
    body{
        padding-left:20px;
        padding-right:20px;
    }


    .content-form input{
     left: 225px;
     width: 200px;
    

    }

    .header .header-caption{
    right: inherit;
    top:180px;
    text-align: left;
    }

    .header{
    

    }   
    
    .content-form .mc-field-group{
    margin-bottom:10px;
    height: 90px;
    text-align: center;
    }

    .content-form input{
    position: absolute;
    text-align: center;
    margin-top: 25px;
    left: 10%;
    width: 80%;
    

    }

    .content-form .button{
        text-align:center;
        margin-left: 30%;
        font-size: 1.2em;
    }
    
    .footer{
    
    position: inherit;
    
}
    
    
}

@media (max-height:940px){
      .footer{
    
    position: inherit;
    
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
